.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  visibility: visible;
}

#form-data {
  display: flex;
  width: 675px;
  flex-direction: column;
  visibility: hidden;
}

#trybewarts-forms-logo {
  height: 500px;
}

.input-position {
  display: flex;
  flex-direction: row;
}
