.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
} 

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

/*
.trybewarts-header-logo {

}
#input-name {
  
}

#input-password {

}

#trybewarts-header-title {
  
}

#input-email {

}
*/
