* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  background-color: rgb(239, 239, 239);
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.trybewarts-header-logo {
  width: 80px;
}

#trybewarts-header-title {
  color: white;
  font-size: 35px;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  margin-block-end: 0;
}

#login-email , #login-password {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

#button-login {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(78, 44, 131);
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.input-position {
  display: flex;
  flex-direction: row;
}

#input-name , #input-lastname , #input-email , #house {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 5px;
  background-color: white;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

#radio-checkbox {
  display: flex;
  flex-direction: row;
}

#container-radio , #container-checkbox {
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 2;
}

#frontend , #backend , #fullstack , .subject , .rate , #agreement {
  vertical-align: middle;
}

#container-rate {
  margin-top: 10px;
  margin-bottom: 20px;
}

.textarea {
  margin-bottom: 5px;
}

#counter {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
}

#container-terms {
  margin-bottom: 10px;
}

#submit-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(78, 44, 131);
  color: white;
}

#submit-btn:disabled {
  padding: 9px;
  border: 1px solid grey;
  background-color: rgb(229, 229, 229);
  color: grey;
}

/*
#form-data {
  display: flex;
  width: 675px;
  flex-direction: column;
  visibility: hidden;
}
*/

footer {
  padding: 15px;
  text-align: center;
  background-color: rgb(60, 64, 74);
  color: white;
  font-size: 15px;
}

#trybewarts-forms-logo {
  height: 500px;
}
